{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}景点管理{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Sight = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Sights = Backbone.Collection.extend({
        model: Sight,

        _modelMaps: {
            'num': 'num',
            'sightId': 'sight_id',
            'name': 'name',
            'province': 'province',
            'provinceName': 'province_name',
            'cover': 'cover',
            'des': 'des',
            'code': 'code',
            'state': 'state'
        },

        // 查询
        search: function(name, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/sight/search", 
                {'page_index': pageIndex||1, 'name': name||''}, 
                function(data){
                    me.pageIndex = pageIndex||1;
                    me.pageCount = data.page_count;
                    me.name = name;

                    me.reset($.QXUtils.dictMapParse(data.data, me._modelMaps))
                }
            );
        },

        // 获取一个提问的model
        getOne: function(sightId, callback){
            var me = this;

            ajaxSend(
                "/admin/sight/get_sight_by_id", 
                {'sight_id': sightId},
                function(data){
                    if(callback){
                        callback($.QXUtils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        // 删除
        removeSight: function(sightId, callback){
            var me = this;

            ajaxSend(
                "/admin/sight/remove_sight", 
                {'sight_id': sightId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        }


    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#sight_list',

        pagination: new $.QXPagination.PaginationView(),

        template: _.template($('#sight_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .pointer': 'modifySight',
            'click .search': 'searchSight'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();
            this.$('tbody').html(this.template({'sights': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.name
            );
        },

        // 显示面板
        showPanel: function(){
            $('.qx-nav-pills a[href="#sight_list"]').tab('show');
        },

        searchSight: function(){
            var name = this.$('.key-word').val();
            router.navigate('/search/'+name+'/1', {trigger: true});
        },

        modifySight: function(sender){
            var target = $(sender.currentTarget),
                sightId = target.data('sight_id');

            router.navigate('/modify/' + sightId, {trigger: true});
        }

    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_sight',

        template: _.template($('#modify_sight_template').html()),

        events: {
            'click .save': 'save',
            'click .remove': 'remove'
        },

        provinceTextBox: null,
        initProvinceTextBox: function(name, value){
            this.provinceTextBox = $.QXTextboxList.create('#province_modify', {
                max: 1,
                placeholder: '选择所属省份',
                url: '/admin/sight/get_province_by_name',
                param: 'province_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.provinceTextBox.add(name, value);
            }
        },

        // 显示面板
        showPanel: function(){
            $('.qx-nav-pills a[href="#modify_sight"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));
        },

        // 显示提问信息
        modifySight: function(sightId){
            var me = this;

            this.collection.getOne(sightId, function(data){
                if(data){
                    me.render(data);
                    me.initProvinceTextBox(data.provinceName, data.province);
                    createEditor('#dec_editor_modify');
                    createEditor('#cover_editor_modify');
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.QXNotice.ErrorTopNotice('没有找到对应的景点!');
                }
            });
        },

        // 保存
        save: function(){
            this.$('form').submit();
        },

        // 删除
        remove: function(){
            var sightId = this.$('form').data('sight_id'),
                me = this;

            $.ZXMsg.confirm('提示', '确认要删除此景点吗?', function(result){
                
                if(result){
                    me.collection.removeSight(sightId, function(data){
                        if(data.errcode === 0){
                            listView.searchSight();
                        } else {
                            $.QXNotice.ErrorTopNotice(data.errmsg);
                        }
                    });
                }
                
            });
        }


    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_sight_template').html()),

        provinceTextBox: null,
        initProvinceTextBox: function(name, value){
            this.provinceTextBox = $.QXTextboxList.create('#province_add', {
                max: 1,
                placeholder: '选择所属省份',
                url: '/admin/sight/get_province_by_name',
                param: 'province_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.provinceTextBox.add(name, value);
            }
        },

        showPanel: function(){
            var me = this;

            me.render();
        },

        render: function(){
            var me = this;

            $('#add_sight_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_sight_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_sight_modal .ok').bind('click', function(){
                me.addSight();
            });
            
            $('#add_sight_modal').modal({'show': true, 'backdrop': 'static'});

            this.initProvinceTextBox();
            createEditor('#dec_editor_add');
            createEditor('#cover_editor_add');
        },

        addSight: function(){
            var me = this;

            me.$('form').submit();
        }

    });

    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":                     		"search",
            "modify/:sightId":    			"modify",
            "search/(:name)/:pageIndex":    "search",
            "add":                  		"add"
        },

        // 查询
        search: function(name, pageIndex){
            sights.search(name, pageIndex||1);
        },

        // 显示修改界面
        modify: function(linkId){
            modifyView.modifySight(linkId);
        },

        add: function(){
            addView.showPanel();
        }

    });
    
    // 初始化
    var sights = new Sights(),
        listView = new ListView({'collection': sights}),
        modifyView = new ModifyView({'collection': sights}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

    if(window.location.href.indexOf('?') > -1){
        $.QXNotice.ErrorTopNotice(decodeURI(window.location.search).substring(1));
    }

});

</script>
{% endblock %}

{% block right %}
<ul class="nav nav-pills pt-15 qx-nav-pills">
    <li class="active">
        <a href="#sight_list" class="black-blue" data-toggle="pill">景点列表</a>
    </li>
    <li>
        <a href="#modify_sight" class="black-blue" data-toggle="pill">修改景点信息</a>
    </li>
    <li class="pull-right">
        <a href="#add" class="black-blue">添加景点</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="sight_list">
        
        <div class="pl-0 pr-0 pb-10 col-md-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control border-radius-0 key-word" placeholder="输入景点名称..." />
                <span class="input-group-btn">
                    <button class="btn btn-default search" type="button">查询</button>
                </span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>景点名称</th>
                    <th>所属省份</th>
                    <th>域名</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改客户经理信息 -->
    <div class="tab-pane fade" id="modify_sight">
        
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="sight_template">
    <% _.each(sights, function(sight){ %>
        <tr class="pointer" data-sight_id="<%= sight.sightId %>">
            <td><%= sight.num %></td>
            <td><%= sight.name %></td>
            <td><%= sight.provinceName %></td>
            <td><%= sight.code %></td>
            <td>
                <% if (!sight.state) { %>
                    <span class="fa fa-times co8 f18" title="已删除"></span>
                <% } else { %>
                    <span class="fa fa-check co9 f18" title="正常"></span>
                <% } %>
            </td>
        </tr>
    <% }) %>
</script>

<!-- 修改问题模板 -->
<script type="text/template" id="modify_sight_template">
    <form class="form-horizontal" data-sight_id="<%= sightId %>" role="form" method="post" action="/admin/sight/modify_sight" enctype="multipart/form-data">
        <input type="hidden" name="sight_id" value="<%= sightId %>" />
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="name" value='<%= name %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">所属省份</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="province" value='' id="province_modify">
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">图片封面</label>
            <div class="col-sm-10">
                <div class="fb pb-5">图片尺寸为 宽730 高350</div>
                <textarea name="cover" rows="6" id="cover_editor_modify" class="form-control" style="height: 300px;"><%= cover %></textarea>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">域名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="code" value='<%= code %>' placeholder="例如: 成都可以填Chengdu">
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <textarea name="des" rows="6" id="dec_editor_modify" class="form-control" style="height: 300px;"><%= des %></textarea>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-3 control-label">状态</label>
            <div class="col-sm-9">
                <div class="radio">
                    <label>
                        <input type="radio" name="state" value="1" <% if(state){ %> checked <% } %> >
                        有效
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="state" value="0" <% if(!state){ %> checked <% } %> >
                        无效
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary save">提交你的修改</button>
            </div>
        </div>
    </form>
</script>

<!-- 添加问题模板 -->
<script type="text/template" id="add_sight_template">
<div class="modal fade" id="add_sight_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">添加专题信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="/admin/sight/add_sight" enctype="multipart/form-data">
	                <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
			            <label class="col-sm-2 control-label">名称</label>
			            <div class="col-sm-6">
			                <input type="text" class="form-control" name="name" value=''>
			            </div>
			        </div>
			        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
			            <label class="col-sm-2 control-label">所属省份</label>
			            <div class="col-sm-6">
			                <input type="text" class="form-control" name="province" value='' id="province_add">
			            </div>
			        </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">封面</label>
                        <div class="col-sm-10">
                            <textarea name="cover" rows="6" id="cover_editor_add" class="form-control" style="height: 300px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">域名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="code" value='' placeholder="例如: 成都可以填Chengdu">
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <textarea name="des" rows="6" id="dec_editor_add" class="form-control" style="height: 300px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock right %}