body {
	padding-top: 0px; 
	font-family: "Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed; 
	font-size: 14px; 
	color: #222;
}

.no-underline{text-decoration: none;}
.no-underline:hover{text-decoration: none;}

.hidden{visibility:hidden}
.auto-hide{display: none;}
.none{display:none}
.block{display:block;}
.pointer{cursor: pointer;}

.fb{font-weight: bold;}

.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f19{font-size: 19px;}
.f20{font-size: 20px;}
.f30{font-size: 30px;}
.f40{font-size: 40px;}

.line-height-25{line-height: 25px;}
.line-height-32{line-height: 32px;}

.co1{color: #222;}
.co2{color: #9fa3a7;}
.co3{color: #fff;}
.co4{color: #999;}
.co5{color: #f36119;}
.co6{color: #9FA3A7;}
.co7{color: #666666;}
.co8{color: red;}
.co9{color: #428bca;}
.co10{color: #eee};

.mr-0{margin-right: 0;}
.mr-10{margin-right: 10px;}
.ml-0{margin-left: 0;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.mt--2{margin-top: -2px;}
.mt-5{margin-top: 5px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}
.mb-15{margin-bottom: 15px;}

.pt-0{padding-top: 0;}
.pt-2{padding-top: 2px;}
.pt-3{padding-top: 3px;}
.pt-5{padding-top: 5px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-50{padding-top: 50px;}
.pt-55{padding-top: 55px;}
.pl-0{padding-left: 0;}
.pl-3{padding-left: 3px;}
.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-25{padding-left: 25px;}
.pl-35{padding-left: 35px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.pl-45{padding-left: 45px;}
.pl-50{padding-left: 50px;}
.pl-60{padding-left: 60px;}
.pl-70{padding-left: 70px;}
.pl-75{padding-left: 75px;}
.pr-0{padding-right: 0;}
.pr-3{padding-right: 3px;}
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pr-26{padding-right: 26px;}
.pr-30{padding-right: 30px;}
.pr-35{padding-right: 35px;}
.pr-50{padding-right: 50px;}
.pb-2{padding-bottom: 2px;}
.pb-3{padding-bottom: 3px;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}

.bgc-0{background-color: transparent;}
.bgc-fff{background-color: #fff;}
.bgc-333{background-color: #333;}
.bgc-f36119{background-color: #f36119;}
.bgc-272829{background-color: #272829;}
.bgc-eee{background-color: #eee;}
.bgc-e9e9e9{background-color: #e9e9e9;}

.w120{width: 120px;}
.w200{width: 200px;}
.w215{width: 215px;}
.w250{width: 250px;}
.h215{height: 215px;}

.border-1{border: solid 1px;}
.border-5{border: solid 5px;}
.border-left-0{border-left: 0;}
.border-right-0{border-right: 0;}
.border-top-0{border-top: 0;}
.border-bottom-0{border-bottom: 0;}
.border-bottom{border-bottom: solid 1px;}
.border-top{border-top: solid 1px;}
.border-left{border-left: solid 1px;}
.border-left-4{border-left: solid 4px;}

.bdc-ebeced{border-color: #ebeced;}
.bdc-eee{border-color: #eee;}
.bdc-ddd{border-color: #ddd;}
.bdc-fff{border-color: #fff;}
.bdc-39B2E2{border-color: #39B2E2;}
.bdc-E67E22{border-color: #E67E22;}
.bdc-f36119{border-color: #f36119;}

.pa{position: absolute;}
.pr{position: relative;}
.pf{position: fixed;}

.of-hidden{overflow: hidden;}

.h{height: 100%;}
.h155{height: 155px;}
.h200{height: 200px;}
.h225{height: 225px;}
.h250{height: 250px;}

.w{width: 100%;}
.w140{width: 140px;}
.w200{width: 200px;}
.w270{width: 270px;}
.w350{width: 350px;}
.min-w500{min-width: 500px;}

.avatar-25{
	width: 25px;
	height: 25px;
}

.avatar-35{
  width: 35px;
  height: 35px;
}

.avatar-45{
	width: 45px;
	height: 45px;
}

.avatar-55{
	width: 55px;
	height: 55px;
}

.avatar-100{
    width: 100px;
    height: 100px;
}

.qx-info-notice{
  background-color: #56A8C7;
  border-color: #56A8C7;
}

.qx-success-notice{
  background-color: #65B153;
  border-color: #0FA70D;
}

.qx-error-notice{
  background-color: #C94C42;
  border-color: #B43A30;
}

.qx-warning-notice{
  background-color: #EEA31F;
  border-color: #EEA31F;
}

.border-radius-0{border-radius: 0px;}
.border-radius-2{border-radius: 2px;}
.border-radius-4{border-radius: 4px;}

.box-shadow-224{box-shadow: 2px 2px 4px #666;}
.box-shadow-024{box-shadow: 0px 2px 4px #666;}

/*间隔*/
.clear  {height:0px;clear:both; font-size:0; overflow:hidden;}
.blank0 {height:0;clear:both;font-size:0px;overflow:hidden;}
.blank1 {height:1px;clear:both;font-size:0px;overflow:hidden;}
.blank2 {height:2px;clear:both;font-size:0px;overflow:hidden;}
.blank4 {height:4px;clear:both;font-size:0px;overflow:hidden;}
.blank5 {height:5px;clear:both;font-size:0px;overflow:hidden;}
.blank10 {height:10px;clear:both;font-size:0px;overflow:hidden;}
.blank15 {height:15px;clear:both;font-size:0px;overflow:hidden;}
.blank20 {height:20px;clear:both;font-size:0px;overflow:hidden;}
.blank30 {height:30px;clear:both;font-size:0px;overflow:hidden;}
.blank40 {height:40px;clear:both;font-size:0px;overflow:hidden;}
/*****************************************************/
.qx-nav>li>a{
	padding-left: 35px;
	padding-right: 35px;
	font-weight: normal;
	font-size: 20px;
}

.qx-nav>li.active>a{
	/*background-color: #eee;*/
	color: #f36119;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
}

.qx-nav>li>a:hover{
	color: #f36119;
}

.article-image{
	-webkit-transition: margin 0.1s ease;
	-moz-transition: margin 0.1s ease;
	-o-transition: margin 0.1s ease;
	transition: margin 0.1s ease;
	display: block;
	margin: 0 -25% 0;
	width: 150%;
	height: 205px;
}

.list-group-item:first-child{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0px;
}

.list-group-item:last-child{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
}

.dropdown-menu{min-width: 140px;}

.message-menu .badge{
	padding: 2px 5px;
	background-color: #f36119;
}

.gray-white{
  color: #999;
}

.gray-white:hover{
  text-decoration: none;
  color: #fff;
}

.white-white{
  color: #fff;
}

.white-white:hover{
	color: #fff;
}

.black-blue{
  color: #222;
}

.black-blue:hover{
  text-decoration: none;
  color: #f36119;
}

.qx-logo{
	font-size: 30px;
	font-weight: bold;
	color: #f36119;
	text-decoration: none;
	padding-right: 20px;
}
.qx-logo:hover{
	text-decoration: none;
}

a{color: #3F484F;}
a:focus {outline: none;-moz-outline: none;}
a:hover{color: #f36119;}


a.border-block-blue{
    border: solid 1px #9ECEFA;
    color: #428bca;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
a.border-block-blue:hover{
    background-color: #428bca;
    border-color: #428bca;
    color: white;
}
a.border-block-blue.active{
  background-color: #428bca;
  border-color: #428bca;
  color: white;
}

a.border-block-red{
    border: solid 1px #d44137;
    color: #d44137;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
a.border-block-red:hover{
    background-color: #d44137;
    border-color: #d44137;
    color: white;
}
a.border-block-red.active{
  background-color: #d44137;
  border-color: #d44137;
  color: white;
}

label.error{
    color: #863114;
    font-size: 12px;
}

.btn-danger{
    background-color: #f36119;
    border-color: #f36119;
}

.btn-danger:hover{
    background-color: #C4490C;
    border-color: #C4490C;
}

.placeholder { color: #aaa; }


.qx-nav-pills{
    border-bottom: 2px solid #d9d9d9;
}
.qx-nav-pills>li>a{
    border-radius: 0px;
    margin-bottom: -2px;
}
.qx-nav-pills>li>a:hover{
    background-color: transparent;
    border-bottom: 2px solid #f36119;
}
.qx-nav-pills>li.active>a:hover{
    color: #f36119;
    background-color: transparent;
}
.qx-nav-pills>li.active>a{
    background-color: transparent;
    color: #f36119;
    border-bottom: 2px solid #f36119;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color: transparent;
  color: #f36119;
}

.answer-content a{color: #f36119;}
.answer-content p{margin: 0;}