{% extends "base/base.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block base_css %}
    {% block css %}{% endblock css %}
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){
    $('.write-kit').bind('click', function(){
        window.location.href = $(this).parent().attr('href');
    });
});
</script>
    {% block javascript %}{% endblock javascript %}
{% endblock %}

{% block container %}
<div class="col-md-8">
    {% block left %}{% endblock left %}
</div>

<div class="col-md-4 pl-70 pt-15">
    {% block right %}
    <a href="/kit/write_kit" class="no-underline">
        <button type="button" class="btn btn-danger btn-lg btn-block write-kit">+ 发 布 装 备</button>
    </a>
    <div class="blank20"></div>

    <div>
        且行—出行二群<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=7c99b4c56aad9cbece02ab918183672c35b6692599c77901228840a5273bd68c">
            <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="且行—出行二群" title="且行—出行二群">
        </a>
    </div>
    {% hot_activity %}
    {% endblock right %}
</div>
{% endblock container %}