{% extends "base/base.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block base_css %}
    {% block css %}{% endblock css %}
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){
    $('.write-journey').bind('click', function(){
        window.location.href = $(this).parent().attr('href');
    });
});
</script>
    {% block javascript %}{% endblock javascript %}
{% endblock %}

{% block container %}
<div class="col-md-8">
    {% block left %}{% endblock left %}
</div>

<div class="col-md-4 pl-70 pt-15">
    {% block right %}
    <a href="/journey/write_journey" class="no-underline">
        <button type="button" class="btn btn-danger btn-lg btn-block write-journey">+ 写 游 记</button>
    </a>
    <div class="blank20"></div>
    {% hot_activity %}
    {% endblock right %}
</div>
{% endblock container %}