{% extends "journey/base_journey.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}{{journey.title}}{% endblock title %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$('.share-qq').bind('click', function(){
		var url = window.location.origin + window.location.pathname,
			title = $('.title').html();

		$.QXShare.qq(url, title, title);
	});

	$('.share-sina').bind('click', function(){
		var url = window.location.origin + window.location.pathname,
			title = $('.title').html();

		$.QXShare.sinaWeibo(url, title, '');
	});

	var answerEditor = createEditor('#answer_editor'),
		journeyEditor = createEditor('#journey_editor');

	// 回复事件
	$('.say-to').bind('click', function(){
		var target = $(this);

		// 滚动到输入框的位置框
	    $('html,body').animate({
	        scrollTop: $('.answer-main').offset().top 
	            + ($.browser.msie ? document.documentElement.scrollTop : 0) 
	            - 5
	    });
	    answerEditor.focus();
	    answerEditor.html('');
	    answerEditor.appendHtml("<span>@" + target.data('user_name') + " </span>");
	});

	// 删除游记事件
	$('.delete-journey').bind('click', function(){
		if(confirm('确定要删除此游记吗？')){
			$.QXNotice.SuccessTopNotice('删除游记成功');
		}
		
	});
	
});
</script>
{% endblock %}

{% block left %}
<div class="row pl-15 pr-15 pt-25">
	<img class="img-rounded avatar-55 pa" src="http://static.doyouhike.net/files/faces/46/user9246.jpg">
	<div class="pl-75">
		<div class="f16 fb title">{{journey.title}}</div>
		<div class="pt-10">
			<a href="{{journey.user.get_url}}" class="f12">{{journey.user.nick}}</a>
			<span class="co2 f12 pl-5">({{journey.user.des|default:"暂无简介"}})</span>
			<span class="co2 f12 pull-right">发表于 {{journey.create_time}}</span>
		</div>
		<div class="pt-15 line-height-25">{{journey.content|safe}}</div>

		<!-- 弹出层 -->
		<div class="modal fade" id="edit_journey_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" method='post' action='/journey/modify_journey/{{journey.id}}'>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">修改游记</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" name="title" placeholder="游记标题" 
                                    value=''></div>
                            <div class="form-group">
                                <textarea id="journey_editor" name="content" class="form-control" style="height: 260px">111111</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-danger">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

		<div class="pt-15 row">
			<div class="col-md-4">
				<button type="button" class="btn btn-danger">
					<span class="f20 fa fa-thumbs-o-up pr-5"></span>{{journey.like_count}} 人赞过
				</button>
			</div>
			<div class="col-md-8 text-right f12 pt-25">
				<a href="#" class="co2" data-toggle="modal" data-target="#edit_journey_modal" data-backdrop="static"><span class="fa fa-edit pr-3"></span>修改</a>
				<a href="javascript:void(0);" class="co2 pl-10 delete-journey"><span class="fa fa-trash-o pr-3"></span>删除</a>
				<a class="border-block-blue ml-5 pl-5 pr-5 pt-2 pb-2 share-qq" href="javascript: void(0);">
                    分享到QQ
                </a>
                <a class="border-block-red ml-5 pl-5 pr-5 pt-2 pb-2 share-sina" href="javascript: void(0);">
                    分享到微博
                </a>
			</div>
		</div>

		<!-- 评论区 -->
		<div class="pt-20">
			<div class="f16 border-bottom bdc-ddd"><h4>共 18 条回复</h4></div>
			<ul class="list-group">
				<li class="list-group-item bdc-eee border-left-0 pl-0 border-right-0 f13">
					<img class="img-rounded avatar-45 pa" src="http://img0.zhixuan.com/newest_avatar_436e7296f75911e3b4cd00163e003240!65m65">
					<div class="pl-60">
						<div class=""><a href="#">随便玩玩</a><span class="co2 pl-5">(你是我的小呀小苹果，怎么爱你都嫌多!)</span></div>
						<div class="pt-10  line-height-25">谢谢李老师的文章……看得想哭了。觉得有什么东西梗在心里说不上来。翻武志红老师的博客，也有说法是「拖延是无法与当前在做的事建立联结」，也深以为然。许多事只是个要完成的任务，完成了我们仿佛就成了理想中的那个人，但这任务本身可厌可憎，我们不以它为乐，大概是这种感觉，很难过</div>
						<div class="pt-10">
							<span class="co2">2014-05-05 12:45:45</span>
							<span class="f12 pl-5">
								<a href="javascript:void(0);" class="co2 say-to" data-user_name="呵呵"><span class="fa fa-mail-forward pr-3"></span>回复</a>
							</span>
						</div>
					</div>
				</li>
				<li class="list-group-item bdc-eee border-left-0 pl-0 border-right-0 f13">
					<img class="img-rounded avatar-45 pa" src="http://img0.zhixuan.com/newest_avatar_436e7296f75911e3b4cd00163e003240!65m65">
					<div class="pl-60">
						<div class=""><a href="#">随便玩玩</a><span class="co2 pl-5">(你是我的小呀小苹果，怎么爱你都嫌多!)</span></div>
						<div class="pt-10  line-height-25">谢谢李老师的文章……看得想哭了。觉得有什么东西梗在心里说不上来。翻武志红老师的博客，也有说法是「拖延是无法与当前在做的事建立联结」，也深以为然。许多事只是个要完成的任务，完成了我们仿佛就成了理想中的那个人，但这任务本身可厌可憎，我们不以它为乐，大概是这种感觉，很难过</div>
						<div class="pt-10">
							<span class="co2">2014-05-05 12:45:45</span>
							<span class="f12 pl-5">
								<a href="javascript:void(0);" class="co2 say-to" data-user_name="嘿嘿"><span class="fa fa-mail-forward pr-3"></span>回复</a>
							</span>
						</div>
					</div>
				</li>
				<li class="list-group-item bdc-eee border-left-0 pl-0 border-right-0 f13">
					<img class="img-rounded avatar-45 pa" src="http://img0.zhixuan.com/newest_avatar_436e7296f75911e3b4cd00163e003240!65m65">
					<div class="pl-60">
						<div class=""><a href="#">随便玩玩</a><span class="co2 pl-5">(你是我的小呀小苹果，怎么爱你都嫌多!)</span></div>
						<div class="pt-10  line-height-25">谢谢李老师的文章……看得想哭了。觉得有什么东西梗在心里说不上来。翻武志红老师的博客，也有说法是「拖延是无法与当前在做的事建立联结」，也深以为然。许多事只是个要完成的任务，完成了我们仿佛就成了理想中的那个人，但这任务本身可厌可憎，我们不以它为乐，大概是这种感觉，很难过</div>
						<div class="pt-10">
							<span class="co2">2014-05-05 12:45:45</span>
							<span class="f12 pl-5">
								<a href="javascript:void(0);" class="co2 say-to" data-user_name="嘻嘻"><span class="fa fa-mail-forward pr-3"></span>回复</a>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<!-- 回复文本框 -->
		<div class="answer-main">
			<form class="answer-form" role="form" method="post" action="/journey/create_answer/{{journey.id}}">
	            <div class="form-group mb-0">
	                <textarea id="answer_editor" name="answer_content" class="form-control" style="height: 200px;"></textarea>
	            </div>
	            <div class="form-group pull-right">
	                <button type="submit" class="btn btn-danger">提交你的回答</button>
	            </div>
	        </form>
		</div>
	</div>
</div>
{% endblock %}