{% extends "journey/base_journey.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}游记{% endblock title %}

{% block left %}
<ul class="list-group">
	{% for journey in journeys %}
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<div class="row pl-5 pr-5">
			<div class="col-md-4">
				<a href="{{journey.get_url}}">
					<img class="w h155 pl-3 pr-3 pt-3 pb-3" src="{{journey.get_cover}}">
				</a>
			</div>
			<div class="col-md-8">
				<div>
					<h4 class="mt-5">
	                    <a class="black-blue fb" href="{{journey.get_url}}">{{journey.title}}</a>
	                </h4>
				</div>
				<div>
					<a href="{{journey.user.get_url}}" class="co2 f12">{{journey.user.nick}}</a>
					<span class="pull-right co2 f12">{{journey.create_time}}</span>
				</div>
				<div class="pt-5 line-height-25 f13">{{journey.get_summary|safe}}</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock left %}