{% extends "journey/base_journey.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}游记{% endblock title %}

{% block left %}
<ul class="list-group">
	{% for journey in journeys %}
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<div class="row pl-5 pr-5">
			<div class="col-md-4">
				<a href="{{journey.get_url}}"> 
					<img class="w h155 pl-3 pr-3 pt-3 pb-3" src="{{journey.get_cover}}" alt="{{journey.title}}" />
				</a>
			</div>
			<div class="col-md-8 pr">
				{% if journey.sort_num > 0 %}
				<img src="/static/img/jinghua2.png" class="pa" style="right: 10px;">
				{% endif %}
				<div>
					<h4 class="mt-5">
	                    <a class="black-blue fb" href="{{journey.get_url}}">{{journey.title|str_display:24}}</a>
	                </h4>
				</div>
				<div>
					<a href="{{journey.user.get_url}}" class="co2 f12">{{journey.user.nick}}</a>
					<span class="pull-right co2 f12">{{journey.create_time}}</span>
				</div>
				<div class="pt-5 line-height-25 f13">{{journey.get_summary|safe}}</div>
				<div class="f12 co2 pt-5">
					<span class="fa fa-eye pr-5"></span>{{journey.views_count}} 次浏览
					<span class="fa fa-comment-o pl-10 pr-5"></span>{{journey.answer_count}} 条回复
					<span class="fa fa-thumbs-o-up pl-10 pr-5"></span>{{journey.like_count}} 个赞
				</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% endblock left %}