{% extends "base/base.html" %}

{% block title %}游记{% endblock title %}

{% block container %}
<ul class="list-group col-md-8">
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<div class="row pl-5 pr-5">
			<div class="col-md-4">
				<a href="/journey/1">
					<img class="w h155 pl-3 pr-3 pt-3 pb-3" src="http://file.517huwai.com/Public/Thumb/?w=225&amp;h=225&amp;t=c&amp;url=./Public/Uploads/2014/07/31/53da136bda1e2.jpg">
				</a>
			</div>
			<div class="col-md-8">
				<div>
					<h4 class="mt-5">
	                    <a class="black-blue fb" href="/journey/1">像风一样自由，越走越南 — What a Fucking Day!</a>
	                </h4>
				</div>
				<div>
					<a href="#" class="co2 f12">随便玩玩</a>
					<span class="pull-right co2 f12">2013-05-06 15:25:12</span>
				</div>
				<div class="pt-5 line-height-25 f13">
					2014年的大年三十，于我来说，既是普通的一天，也是不寻常的一天。普通，是因为不在家人身边过年三十并不是头一次，一个人在异乡过年三十也不是头一回；而不寻常，却是因为在异国过年还是头一次，还是作为一个外国人，周围充斥着听不懂，或者听着不那么顺畅的语言的国度。
				</div>
			</div>
		</div>
	</li>

	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<div class="row pl-5 pr-5">
			<div class="col-md-4">
				<a href="/journey/1">
					<img class="w h155 pl-3 pr-3 pt-3 pb-3" src="http://file.517huwai.com/Public/Thumb/?w=225&amp;h=225&amp;t=c&amp;url=./Public/Uploads/2014/07/31/53da136bda1e2.jpg">
				</a>
			</div>
			<div class="col-md-8">
				<div>
					<h4 class="mt-5">
	                    <a class="black-blue fb" href="/journey/1">像风一样自由，越走越南 — What a Fucking Day!</a>
	                </h4>
				</div>
				<div>
					<a href="#" class="co2 f12">随便玩玩</a>
					<span class="pull-right co2 f12">2013-05-06 15:25:12</span>
				</div>
				<div class="pt-5 line-height-25 f13">
					2014年的大年三十，于我来说，既是普通的一天，也是不寻常的一天。普通，是因为不在家人身边过年三十并不是头一次，一个人在异乡过年三十也不是头一回；而不寻常，却是因为在异国过年还是头一次，还是作为一个外国人，周围充斥着听不懂，或者听着不那么顺畅的语言的国度。
				</div>
			</div>
		</div>
	</li>

	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<div class="row pl-5 pr-5">
			<div class="col-md-4">
				<a href="/journey/1">
					<img class="w h155 pl-3 pr-3 pt-3 pb-3" src="http://file.517huwai.com/Public/Thumb/?w=225&amp;h=225&amp;t=c&amp;url=./Public/Uploads/2014/07/31/53da136bda1e2.jpg">
				</a>
			</div>
			<div class="col-md-8">
				<div>
					<h4 class="mt-5">
	                    <a class="black-blue fb" href="/journey/1">像风一样自由，越走越南 — What a Fucking Day!</a>
	                </h4>
				</div>
				<div>
					<a href="#" class="co2 f12">随便玩玩</a>
					<span class="pull-right co2 f12">2013-05-06 15:25:12</span>
				</div>
				<div class="pt-5 line-height-25 f13">
					2014年的大年三十，于我来说，既是普通的一天，也是不寻常的一天。普通，是因为不在家人身边过年三十并不是头一次，一个人在异乡过年三十也不是头一回；而不寻常，却是因为在异国过年还是头一次，还是作为一个外国人，周围充斥着听不懂，或者听着不那么顺畅的语言的国度。
				</div>
			</div>
		</div>
	</li>
</ul>
{% endblock container %}