<div class="pt-30 pb-30 bgc-272829 co4 f12">
    <div class="container pb-0 pt-20">
        <div class="row">
            <div class="col-md-4">
                <div class="co7 f20">关于我们</div>
                <div class="co6 f15 pt-15 line-height-25">且行网，且行且珍惜</div>
                <div class="pt-20 co7">Copyright &copy; 2014 - {{YEAR}} iqiexing.com. All Rights Reserved.</div>
            </div>
            <div class="col-md-8">
                <div class="co7 f20">友情链接</div>
                <ul class="list-inline pt-15 f15">
                    <li><a href="#" class="gray-white">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>