<div class="pt-30 pb-30 bgc-272829 co4 f12">
    <div class="container pb-0 pt-20">
        <div class="row">
            <div class="col-md-4">
                <div class="co7 f20">关于我们</div>
                <div class="co6 f15 pt-15 line-height-25">易钱财经是一家全球视野的前沿财经资讯网站，提供关于国内外最前沿财经资讯，致力于成为提供最有价值的资讯财经社区。</div>
                <div class="pt-20 co7">Copyright &copy; 2009 - {{YEAR}} eqcj.com. All Rights Reserved.</div>
            </div>
            <div class="col-md-8">
                <div class="co7 f20">友情链接</div>
                <ul class="list-inline pt-15 f15">
                    <li><a href="#" class="gray-white">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>