<div class="pt-30 pb-30 bgc-272829 co4 f12">
    <div class="container pb-0 pt-20">
        <div class="row">
            <div class="col-md-4">
                <div class="co7 f20">关于我们</div>
                <div class="co6 f15 pt-15 line-height-25">我们的口号: 发烧驴行，且行且荛</div>
                <div class="co6 f13 pt-5 line-height-25">我们对户外的热爱就像是发高烧42℃烧坏了脑子，永远的充满了热情！长期42度会造成脑组织不可逆的损伤，无脑会导致胸大和四肢发达！</div>
                <div class="pt-15 co7">
                    <a class="co7 pr-10" href="#">关于我们</a>|
                    <a class="co7 pl-10 pr-10" href="#">服务条款</a>|
                    <a class="co7 pl-10 pr-10" href="#">联系我们</a>
                </div>
                <div class="pt-5 co7">Copyright &copy; {% if YEAR == "2014" %}{{YEAR}}{% else %}2014 - {{YEAR}}{% endif %} iqiexing.com. All Rights Reserved.</div>
            </div>
            <div class="col-md-8">
                <div class="co7 f20">友情链接</div>
                <ul class="list-inline pt-15 f15">
                    <li><a href="#" class="gray-white">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>