{% extends "base/base.html" %}

{% block title_all %}且行户外|驴行攻略|驴行风光|驴行查询|重庆露营{% endblock %}
{% block keywords %}且行户外,驴行攻略,驴行风光,驴行查询,重庆露营{% endblock %}

{% block base_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/raphael/raphael-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/raphael/china-map-path.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        
        var SIGHTS = eval({{sights|safe}});
        // [{
        //         name: '四川', 
        //         sights: [
        //             {id: '1', name: '青城山'},
        //             {id: '3', name: '武侯祠'},
        //             {id: '4', name: '锦里'}
        //         ]
        //     }, {
        //         name: '湖北',
        //         sights: [
        //             {id: '2', name: '黄鹤楼'}
        //         ]
        //     }]
        var dictActive = {};

        _.map(SIGHTS, function(i){
            dictActive[i.name] = true;
        });
        

        var R = Raphael("map", 600, 500);
        //调用绘制地图方法
        paintMap(R);
        
        for (var state in china) {
            china[state]['path'].color = '#f36119'; //Raphael.getColor(0.9);
                    
            (function (st, state) {
                if(dictActive[china[state]['name']]){
                    st.active = true;
                    st.animate({fill: "#f36119", stroke: "#eee"}, 300);
                }

                var show = function(target, x, y){
                    var html = [],
                        temp = _.filter(SIGHTS, function(i){return i.name == target});

                    if(temp.length > 0){
                        _.map(
                            temp[0].sights, 
                            function(i){
                                html.push('<li class="col-md-6 pb-5"><a href="/sight/'+i.id+'">'+i.name+'</a></li>')
                            }
                        )
                    } else {
                        html.push('<span class="pl-5">暂无景点</span>')
                    }
                    
                    $('.info .province').html(target);
                    $('.info ul').html(html.join(''));
                    $('.info').css({'left': x, 'top': y}).stop(1,1).fadeIn('fast');
                };

                // 添加手形
                st[0].style.cursor = "pointer";

                st[0].onmouseover = function () {
                    st.animate({fill: st.color, stroke: "#eee"}, 300);
                    //china[state]['text'].toFront();
                    
                    R.safari();

                    //show(china[state]['name']);
                };
                st[0].onmouseout = function () {
                    if(st.active){
                        return;
                    }
                    st.animate({fill: "#97d6f5", stroke: "#eee"}, 300);
                    //china[state]['text'].toFront();
                    R.safari();

                    //$('.info').stop(1,1).fadeOut('fast');
                };
                st[0].onclick = function(e){
                    // console.log(china, china[state]['name'])
                    var left = 0, 
                        top = 0, 
                        offsetLeft = ($(window).width() - $('.container').width()) / 2;

                    if(e){
                        left = e.pageX - offsetLeft - 100;
                        top = e.pageY - 180;
                    } else {
                        left = window.event.clientX - offsetLeft - 100;
                        top = window.event.clientY - 180;
                    }
                    show(china[state]['name'], left, top);
                }
                
             })(china[state]['path'], state);
        };


        $('.close').bind("click", function(){
            $('.info').fadeOut('fast');
        });

        $('.info').bind('mouseleave', function(){
            $('.info').fadeOut('fast');
        })
        
    });
</script>
{% endblock %}

{% block container %}
<div id="map" class="text-center"></div>
<div class="pa info bgc-fff bdc-ddd border-5" style="left: 440px; top: 200px; display: none;">
    <div class="pt-10 pl-15 f16"><span class="province">四川</span><span class="fa fa-times co2 pull-right pr-10 pointer close"></span></div>
    <ul class="list-inline row pl-25 pr-15 pt-15 f12 w270">
        <li class="col-md-6 pb-5"><a href="/sight/1">成都</a></li>
        <li class="col-md-6 pb-5"><a href="#">都江堰</a></li>
        <li class="col-md-6 pb-5"><a href="#">武侯祠</a></li>
        <li class="col-md-6 pb-5"><a href="#">青城山</a></li>
        <li class="col-md-6 pb-5"><a href="#">乐山大佛</a></li>
        <li class="col-md-6 pb-5"><a href="#">峨眉山</a></li>
        <li class="col-md-6 pb-5"><a href="#">宽窄巷子</a></li>
    </ul>
</div>
{% endblock container %}
