{% extends "static_templates/base_static.html" %}
{% block title %}关于我们{% endblock %}
{% block right %}
<h4 class="border-bottom bdc-ddd pb-5 pl-5">且行-42度</h4>
<div class="pl-15 pr-15 pt-10 f15 line-height-25">
	<p>重庆“且行-42度”户外俱乐部 以“走出户外，亲近自然”为宗旨，提倡融入自然、追求健康、自助环保、团结友爱的运动理念，旨在为广大自助游和户外运动爱好者提供一个友好、方便的互动交流平台。在极点走，出行的朋友利用这个平台共享信息，相约出行的人与人之间，应当努力建立一种平等、和睦的关系。您对团队作出的贡献，将会得到的是友谊。</p>
	<p>俱乐部将为广大自助游和户外运动爱好者提供咨询和指导，并定期开展野营、穿越、探险、攀岩、登山、漂流、定向、划船、滑雪、骑马、自驾车、自行车等户外活动，同时组织市内网球、羽毛球、乒乓球、游泳、钓鱼、划船、等体育运动和比赛。周末聚会、电影茶会、驴友交流、野餐烧烤等交友聚会活动等等。还为自助旅行者提供旅行线路、自助游日程安排和技术支持。
</p>
</div>
{% endblock right %}