{% extends "static_templates/base_static.html" %}
{% block title %}服务条款{% endblock title %}
{% block right %}
<div class="fb f16 border-bottom bdc-ddd pb-10">服务条款</div>
<div class="pt-10 pl-5 line-height-25">
	<p>隐私权是您的重要权利。我们将采取适当的步骤保护您的隐私。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的个人信息。除非根据法律或政府的强制性规定，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。</p>
	<p>
当您注册成为且行用户时，我们仅需要您提供一个注册的用户名和一个可以使用的个人邮箱。此邮箱地址仅用于特定情况下的联络，以及经您确认订阅的提示性信息。且行不向用户注册信箱发送任何未经用户许可的内容。在您使用邮件相关的网站功能之前，您会得到明确、清晰的提示。
	</p>
	<p>
基于安全和改进服务质量等理由，我们的系统记录所有的用户操作记录。用户在访问本站时的全部详细记录，只限于服务器阅读和分析。
用户的一些特殊操作，例如修改、删除等，会被长期记录下来，以应对可能的安全事故或恶意破坏。
按照法律要求，我们长期保存用户的IP地址记录。
	</p>
	<p>
		如果您希望通过本网站提供的功能发起活动或参加其他用户发起的活动，我们需要您提供个人的真实信息，包括真实姓名，联系方式，等等。


请勿在网站内的其它页面，按照任何用户的要求提供您的个人信息，如果因此产生个人资料泄漏，本站概不负责。

且行可能会基于管理需要或法律要求提取您的个人资料，或者因善意确信这样的做法对于以下情况有其必要性：

您的行为危害了国家法律法规；
您的行为危害了且行网站或者其他用户的安全；
您的权利、权益、财产或者生命安全需要。
	</p>
	<p>
勿在公开页面发布您的电话号码，邮箱地址或者其它您认为是隐私的信息。在老街等模块下，我们专门提供了隐藏回复功能供您在需要的情况下使用；
参加活动时，不要把个人真实资料盲目提交给不熟悉的领队；
使用公共电脑登录且行后记得退出登录状态
	</p>
</div>
{% endblock right %}