{% extends "account/base_user.html" %}

{% block title %}随便玩玩的评论{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% block left %}
<ul class="list-group">
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="#">
			<img alt="随便玩玩" class="avatar-35 img-circle pa" src="http://qimg0.qiniudn.com/newest_avatar_7c57fbba1e0311e4ae4e000c290d194c!25m25">
		</a>
		<div class="pl-45 pb-5">
			<div>
				<a href="#" class="co5 pr-5">随便玩玩</a>评论了
				<a href="" class="co5 pr-5">嘿嘿</a>的游记
				<a href="#" class="co5 pr-5">成都一日游</a>:
			</div>
			<div class="pt-5 f12">
				因为工作的关系，2013年秋天去过一次海拉尔，来去匆匆没有很好的欣赏一下这个被称为“内蒙小巴黎”的草原之都。这次虽然仍然是工作来此，但是还是期待能好好了解这个美丽的小城市。
			</div>
		</div>
	</li>
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="#">
			<img alt="随便玩玩" class="avatar-35 img-circle pa" src="http://qimg0.qiniudn.com/newest_avatar_7c57fbba1e0311e4ae4e000c290d194c!25m25">
		</a>
		<div class="pl-45 pb-5">
			<div>
				<a href="#" class="co5 pr-5">随便玩玩</a>评论了
				<a href="" class="co5 pr-5">嘿嘿</a>的游记
				<a href="#" class="co5 pr-5">成都一日游</a>:
			</div>
			<div class="pt-5 f12">
				因为工作的关系，2013年秋天去过一次海拉尔，来去匆匆没有很好的欣赏一下这个被称为“内蒙小巴黎”的草原之都。这次虽然仍然是工作来此，但是还是期待能好好了解这个美丽的小城市。
			</div>
		</div>
	</li>
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="#">
			<img alt="随便玩玩" class="avatar-35 img-circle pa" src="http://qimg0.qiniudn.com/newest_avatar_7c57fbba1e0311e4ae4e000c290d194c!25m25">
		</a>
		<div class="pl-45 pb-5">
			<div>
				<a href="#" class="co5 pr-5">随便玩玩</a>评论了
				<a href="" class="co5 pr-5">嘿嘿</a>的游记
				<a href="#" class="co5 pr-5">成都一日游</a>:
			</div>
			<div class="pt-5 f12">
				因为工作的关系，2013年秋天去过一次海拉尔，来去匆匆没有很好的欣赏一下这个被称为“内蒙小巴黎”的草原之都。这次虽然仍然是工作来此，但是还是期待能好好了解这个美丽的小城市。
			</div>
		</div>
	</li>
</ul>
{% endblock %}