{% extends "activity/base_activity.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}{{activity.title}}{% endblock title %}

{% block css %}
<style type="text/css">
.activity-content p{
	margin: 0px;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('.start-date').val() ? '' : $('.start-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));
    $('.end-date').val() ? '' : $('.end-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));
    $('.stop-date').val() ? '' : $('.stop-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));
    $('.assemble-date').val() ? '' : $('.assemble-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));

	var editor = createEditor('#modify_activity_editor');

	// 验证
    $('#edit_activity_modal form').validate({
        submitHandler: function(form){
            
            // 去掉空格 去掉html标签之后的文本
            var content = $.QXUtils.clearEscapeCharacters($.QXUtils.clearHtmlTags(editor.html()));

            // 大于2个字才提交
            if($.trim(content).length >= 10){
                form.submit();
            } else {
                $(editor.srcElement[0]).after('<label class="error">至少需要输入10个字</label>');
            }
        }
    });

    $('.regist-form').validate();


    $('.delete-activity').bind('click', function(){
    	var me = $(this);


    	if(confirm('确认删除此活动?')){

    		g_ajax_processing_obj_id = me.setUUID().attr('id');

    		ajaxSend(
                "/activity/remove_activity", 
                {'activity_id': me.data('activity_id')}, 
                function(data){
                    if(data['errcode'] != '0'){
                        $.QXNotice.InfoTopNotice(data['errmsg']);
                        return;
                    }

                    // 操作成功执行动画
                    $.QXNotice.SuccessTopNotice('操作成功! 3秒后页面跳转');

                    window.setTimeout(function(){
                    	window.location.href = "/activity/";
                    }, 3000)
                    
                }
            );

    	}
    });


    // 报名操作
    $('.btn-regist-activity').bind('click', function(){
    	$('.regist-activity-info').fadeIn('fast');
    });
    $('.close').bind("click", function(){
        $('.regist-activity-info').fadeOut('fast');
    });
    $('.regist-ok').bind('click', function(){
    	var me = $(this);
    	
    	if(!$('.regist-form').valid()){
    		return false;
    	}
    	
    	g_ajax_processing_obj_id = me.setUUID().attr('id');

    	ajaxSend(
            "/activity/join_activity", 
            $.QXUtils.formToDict('.regist-form'),
            function(data){
                if(data['errcode'] != '0'){
                    $.QXNotice.InfoTopNotice(data['errmsg']);
                    return;
                }

                // 操作成功执行动画
                $('.regist-activity-info').fadeOut('fast');
                $.QXNotice.SuccessTopNotice('操作成功! 3秒后页面跳转');

                window.setTimeout(function(){
                	window.location.href = "/activity/{{activity.id}}";
                }, 3000);
                
            }
        );
    });

 

 	$('.set-top').bind('click', function(){
 		var me = $(this),
 			activity_id = me.data('activity_id');

		g_ajax_processing_obj_id = me.setUUID().attr('id');

 		ajaxSend(
            "/activity/set_top",
            {'activity_id': activity_id},
            function(data){
            	if(data.errcode === 0){
                    $.QXNotice.SuccessTopNotice('操作成功! 3秒后页面跳转');

	                window.setTimeout(function(){
	                	window.location.href = "/activity/{{activity.id}}";
	                }, 3000);

                } else {
                    $.QXNotice.ErrorTopNotice(data.errmsg);
                }
            } 
         );
 	});

 	$('.cancel-top').bind('click', function(){
 		var me = $(this),
 			activity_id = me.data('activity_id');

		g_ajax_processing_obj_id = me.setUUID().attr('id');

 		ajaxSend(
            "/activity/cancel_top",
            {'activity_id': activity_id},
            function(data){
            	if(data.errcode === 0){
                    $.QXNotice.SuccessTopNotice('操作成功! 3秒后页面跳转');

	                window.setTimeout(function(){
	                	window.location.href = "/activity/{{activity.id}}";
	                }, 3000);

                } else {
                    $.QXNotice.ErrorTopNotice(data.errmsg);
                }
            } 
         );
 	});
 	
 	// 分享操作
 	$('.share-qq').bind('click', function(){
		var url = window.location.origin + window.location.pathname,
			title = $('.activity-title').text();

		$.QXShare.qq(url, title, title);
	});

	$('.share-sina').bind('click', function(){
		var url = window.location.origin + window.location.pathname,
			title = $('.activity-title').text(),
			img = $('.activity-cover').attr('src');

		$.QXShare.sinaWeibo(url, title, img);
	});

});
</script>
{% endblock %}

{% block left %}
<div class="row pt-25 pr">
	<div class="col-md-6">
		<img class="w350 h200 pl-3 pr-3 pt-3 pb-3 activity-cover" src="{{activity.activity_cover}}" alt="{{activity.title}}"></div>
	<div class="col-md-6">
		<h4 class="mt-5 fb activity-title">{{activity.title}}</h4>
		<div class="pt-10">
			<span class="fb pr-10">活动发起人:</span>
			<a href="{{activity.user.get_url}}">{{activity.user.nick}}</a>
		</div>
		<div class="pt-5">
			<span class="fb pr-10">活动时间:</span>
			{{activity.start_date}} 到 {{activity.end_date}}
		</div>
		<div class="pt-5">
			<span class="fb pr-10">活动地点:</span>
			{{activity.addr}}
		</div>
		<div class="pt-5">
			<span class="fb pr-10">报名截止时间:</span>
			{{activity.sign_up_end_date}}
		</div>
		<div class="pt-5">
			<span class="fb pr-10">集合地点:</span>
			{{activity.assembly_point}}
		</div>
		<div class="pt-5">
			<span class="fb pr-10">参加人数:</span>
			<span class="co5">{{activity.person_count}}人</span>
		</div>
	</div>

	<div class="pa regist-activity-info bgc-fff bdc-ddd border-5" style="left: 340px; top: 0px; width: 300px; display: none;">
		<form class="form-horizontal regist-form" role="form" method="post" action="/">
		    <div class="pt-10 pl-15 f16">
		    	报名信息确认
		    	<span class="fa fa-times co2 pull-right pr-10 pointer close"></span>
		    	<input type="hidden" value="{{activity.id}}" name="activity_id" />
		    </div>
		    <div class="form-group pt-15 pr-30 pl-30">
		    	<input type="text" required minlength='2' maxlength='10' name="real_name" class="real_name form-control" placeholder="请填写真实姓名" />
		    </div>
		    <div class="form-group pr-30 pl-30">
		    	<input type="text" required minlength='8' maxlength='15' name="mobile" class="mobile form-control" placeholder="请确保手机号真实"/>
		    </div>
		    <div class="form-group pr-30 pl-30">
		    	<input type="text" required minlength='1' maxlength='2' name="partner_count" class="partner_count form-control" placeholder="参加的总人数"/>
		    </div>
		    <div class="form-group pr-30 pl-30 text-right">
		    	<button type="button" class="btn btn-danger regist-ok">确认</button>
		    </div>
		</form>
	</div>
</div>

<ul class="nav nav-pills pt-15 qx-nav-pills">
	<li class="active">
		<a href="#activity_detail" class="black-blue" data-toggle="pill">活动详情</a>
	</li>
	<li>
		<a href="#person_list" class="black-blue" data-toggle="pill">报名列表</a>
	</li>
	<li class="pull-right pr-5">
		<button type="submit" class="btn btn-danger btn-regist-activity">我 要 报 名</button>
	</li>
	{% if request.user.id == activity.user.id or request.user.is_staff %}
	<li class="pull-right pr-5">
		<a href="javascript:void(0);" class="co2 pl-10 delete-activity" data-activity_id="{{activity.id}}"><span class="fa fa-trash-o pr-3"></span>删除</a>
	</li>
	<li class="pull-right pr-5">
		<a href="javascript:void(0);" class="co2" data-toggle="modal" data-target="#edit_activity_modal" data-backdrop="static"><span class="fa fa-edit pr-3"></span>修改</a>
	</li>
	{% endif %}
	{% if request.user.is_staff %}
	<li class="pull-right pr-5">
		{% if activity.sort_num > 0 %}
		<a href="javascript:void(0);" class="co5 cancel-top" data-activity_id="{{activity.id}}"><span class="fa fa-star-o pr-3"></span>取消置顶</a>
		{% else %}
		<a href="javascript:void(0);" class="co2 set-top" data-activity_id="{{activity.id}}"><span class="fa fa-star-o pr-3"></span>置顶活动</a>
		{% endif %}
	</li>
	{% endif %}
</ul>

<!-- 弹出层 -->
<div class="modal fade" id="edit_activity_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" method="post" action="/activity/modify_activity/{{activity.id}}" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">修改活动详情</h4>
                </div>
                <div class="modal-body">
                	
                		<div class="form-group pt-5">
					        <label class="col-md-2 control-label">活动封面</label>
					        <div class="col-md-3 pr pr-30">
					            <input name="activity_cover" type="file" />
					        </div>
					    </div>
						<div class="form-group pt-5">
					        <label class="col-md-2 control-label">活动标题</label>
					        <div class="col-md-10">
					            <input type="text" class="form-control" name="activity_title" placeholder="活动标题" value='{{activity.title}}' required minlength='5' maxlength='128'>
					        </div>
					    </div>
					    <div class="form-group pt-5">
					        <label class="col-md-2 control-label">活动时间</label>
					        <div class="col-md-3 pr pr-30">
					            <input type="text" name="start_date" class="form-control date start-date" value="{{activity.start_date}}" readonly="" required>
					            <span class="pa" style="top: 5px; right: -10px;">到</span>
					        </div>
					        <div class="col-md-3 pl-30">
					            <input type="text" name="end_date" class="form-control date end-date" value="{{activity.end_date}}" readonly="" required>
					        </div>
					    </div>
					    <div class="form-group pt-5">
					        <label class="col-md-2 control-label">活动地点</label>
					        <div class="col-md-10">
					            <input type="text" class="form-control" name="activity_addr" placeholder="活动地点" value='{{activity.addr}}' required minlength='5' maxlength='128' required>
					        </div>
					    </div>
					    <div class="form-group pt-5">
					        <label class="col-md-2 control-label">报名截止时间</label>
					        <div class="col-md-3 pr pr-30">
					            <input type="text" name="sign_up_end_date" class="form-control date stop-date" value="" readonly="{{activity.sign_up_end_date}}" required>
					        </div>
					    </div>
					    <div class="form-group pt-5">
					        <label class="col-md-2 control-label">集合地点</label>
					        <div class="col-md-10">
					            <input type="text" class="form-control" name="assembly_point" placeholder="集合地点" value='{{activity.assembly_point}}' required minlength='5' maxlength='128'>
					        </div>
					    </div>
					    <div class="form-group pt-5">
					        <div class="col-md-12"><textarea id="modify_activity_editor"  name="activity_content" class="form-control" style="height: 260px">{{activity.content}}</textarea></div>
					    </div>
					
			    </div>
			    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-danger">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="tab-content">
	<!-- 活动详情 -->
	<div class="tab-pane fade pt-15 in active" id="activity_detail">
		<div class="activity-content line-height-25">{{activity.content|safe}}</div>
        <div class="pt-15 text-right">
            <a class="border-block-blue ml-5 pl-5 pr-5 pt-2 pb-2 share-qq" href="javascript: void(0);">
                分享到QQ
            </a>
            <a class="border-block-red ml-5 pl-5 pr-5 pt-2 pb-2 share-sina" href="javascript: void(0);">
                分享到微博
            </a>
        </div>
		<!-- 回复区 -->
		{{answers_list_params|answers_list:request}}
	</div>

	<!-- 报名人列表 -->
	<div class="tab-pane fade pt-15 in" id="person_list">
		{% if activity_persons %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>头像</th>
					<th>用户</th>
					<th>人数</th>
					<th>报名日期</th>
					<th>真实姓名</th>
					<th>性别</th>
					<th>联系电话</th>
				</tr>
			</thead>
			<tbody>
				{% for ap in activity_persons %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{{ap.user.get_url}}"><img class="img-rounded avatar-25" src="{{ap.user.get_avatar_25}}" alt="{{ap.user.nick}}"></a></td>
					<td><a href="{{ap.user.get_url}}">{{ap.user.nick}}</a></td>
					<td>{{ap.partner_count}}</td>
					<td>{{ap.create_time}}</td>
					{% if activity.is_user_in %}
					<td>{{ap.real_name}}</td>
					<td>{{ap.user.get_gender_display}}</td>
					<td>{{ap.mobile}}</td>
					{% else %}
					<td colspan="3" class="bgc-eee">{% if forloop.first %}活动参与者才能查看{% endif %}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
		{% endif %}
	</div>


</div>
{% endblock %}
