{% extends "activity/base_activity.html" %}

{% block title %}活动详情{% endblock title %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('.start-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));
    $('.end-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));
    $('.stop-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));
    $('.assemble-date').val($.QXUtils.formatDate(new Date(), 'y-m-d'));

	var editor = createEditor('#modify_activity_editor');

	// 验证
    $('#edit_activity_modal form').validate({
        submitHandler: function(form){
            
            // 去掉空格 去掉html标签之后的文本
            var content = $.QXUtils.clearEscapeCharacters($.QXUtils.clearHtmlTags(editor.html()));

            // 大于2个字才提交
            if($.trim(content).length >= 10){
                form.submit();
            } else {
                $(editor.srcElement[0]).after('<label class="error">至少需要输入10个字</label>');
            }
        }
    });

    $('.regist-form').validate();


    $('.delete-activity').bind('click', function(){
    	if(confirm('确认删除此活动?')){
    		alert('成')
    	}
    });

    $('.btn-regist-activity').bind('click', function(){
    	$('.regist-activity-info').fadeIn('fast');
    });

    $('.close').bind("click", function(){
        $('.regist-activity-info').fadeOut('fast');
    });

 
});
</script>
{% endblock %}

{% block left %}
<div class="row pt-25 pr">
	<div class="col-md-6">
		<img class="w pl-3 pr-3 pt-3 pb-3" src="http://file.517huwai.com/Public/Thumb/?w=324&h=227&t=f&url=./Public/Uploads/2014/07/30/53d8e690cf232.jpg"></div>
	<div class="col-md-6">
		<h4 class="mt-5 fb">周末两玩：徒步老掌沟至坝上草原骑马</h4>
		<div class="pt-10">
			<span class="fb pr-10">活动发起人:</span>
			<a href="#">精灵公子</a>
		</div>
		<div class="pt-5">
			<span class="fb pr-10">活动时间:</span>
			2014-08-08 到 2014-08-10
		</div>
		<div class="pt-5">
			<span class="fb pr-10">活动地点:</span>
			承德 河北丰宁县
		</div>
		<div class="pt-5">
			<span class="fb pr-10">报名截止时间:</span>
			2014-08-07 18:00
		</div>
		<div class="pt-5">
			<span class="fb pr-10">集合时间:</span>
			2014-08-08 20:20
		</div>
		<div class="pt-5">
			<span class="fb pr-10">集合地点:</span>
			健德门桥的东北角马兰拉面馆西侧马路边
		</div>
		<div class="pt-5">
			<span class="fb pr-10">参加人数:</span>
			<span class="co5">28 人</span>
		</div>
	</div>

	<div class="pa regist-activity-info bgc-fff bdc-ddd border-5" style="left: 340px; top: 50px; width: 300px; display: none;">
		<form class="form-horizontal regist-form" role="form" method="post" action="/">
		    <div class="pt-10 pl-15 f16">报名信息确认<span class="fa fa-times co2 pull-right pr-10 pointer close"></span></div>
		    <div class="form-group pt-15 pr-30 pl-30">
		    	<input type="text" required minlength='2' maxlength='10' name="regist_name" class="regist-name form-control" placeholder="你的联系名字，请填写真实姓名" />
		    </div>
		    <div class="form-group pr-30 pl-30">
		    	<input type="text" required minlength='8' maxlength='15' name="regist_tel" class="regist-tel form-control" placeholder="你的联系电话，请确保电话真实"/>
		    </div>
		    <div class="form-group pr-30 pl-30 text-right">
		    	<button type="submit" class="btn btn-danger regist-ok">确认</button>
		    </div>
		</form>
	</div>
</div>

<ul class="nav nav-pills pt-15 qx-nav-pills">
	<li class="active">
		<a href="#activity_detail" class="black-blue" data-toggle="pill">活动详情</a>
	</li>
	<li>
		<a href="#person_list" class="black-blue" data-toggle="pill">报名列表</a>
	</li>
	<li class="pull-right pr-5">
		<button type="submit" class="btn btn-danger btn-regist-activity">我 要 报 名</button>
	</li>
	<li class="pull-right pr-5">
		<a href="javascript:void(0);" class="co2 pl-10 delete-activity" data-journey_id="{{activity.id}}"><span class="fa fa-trash-o pr-3"></span>删除</a>
	</li>
	<li class="pull-right pr-5">
		<a href="javascript:void(0);" class="co2" data-toggle="modal" data-target="#edit_activity_modal" data-backdrop="static"><span class="fa fa-edit pr-3"></span>修改</a>
	</li>
</ul>
<div class="tab-content">
	<!-- 活动详情 -->
	<div class="tab-pane fade pt-15 in active" id="activity_detail">
		<div class="activity-content">
			<p>
				【 <b>行程安排</b>
				】
			</p>
			<p>
				8月8日晚20.20集合，30准时出发！
				<br>
				8月9日凌晨到达老掌沟，扎营或车上睡觉。
				<br>
				早7：30出发；
				<br>
				下午15：00左右到达目的地东四合泉；
				<br>
				晚上篝火狂欢。
				<br>
				8月10日早7:00早饭，早饭后骑马；
				<br>
				中午14:00上车回北京；
				<br>
				晚19：00左右到京。
				<br>
				注：以上行程仅供参考，实际计划可能会因活动参加的人数、体能状况、新老驴比例、天气等因素而适当变动，以活动领队决定为准！！！（注意：如果活动前遇到下雨等极端恶劣天气，请及时联系领队了解活动安排）请在出发前一天查阅或收听收看天气预报，天气变化无常雨具必带。
			</p>
		</div>

		<!-- 弹出层 -->
		<div class="modal fade" id="edit_activity_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal" role="form" method="post" action="/" enctype="multipart/form-data">
	                    <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                        <h4 class="modal-title">修改活动详情</h4>
	                    </div>
	                    <div class="modal-body">
	                    	
	                    		<div class="form-group pt-5">
							        <label class="col-md-2 control-label">活动封面</label>
							        <div class="col-md-3 pr pr-30">
							            <input name="img" type="file" />
							        </div>
							    </div>
								<div class="form-group pt-5">
							        <label class="col-md-2 control-label">活动标题</label>
							        <div class="col-md-10">
							            <input type="text" class="form-control" name="activity_title" placeholder="活动标题" value='' required minlength='5' maxlength='128'>
							        </div>
							    </div>
							    <div class="form-group pt-5">
							        <label class="col-md-2 control-label">活动时间</label>
							        <div class="col-md-3 pr pr-30">
							            <input type="text" name="start_date" class="form-control date start-date" value="" readonly="" required>
							            <span class="pa" style="top: 5px; right: -10px;">到</span>
							        </div>
							        <div class="col-md-3 pl-30">
							            <input type="text" name="end_date" class="form-control date end-date" value="" readonly="" required>
							        </div>
							    </div>
							    <div class="form-group pt-5">
							        <label class="col-md-2 control-label">活动地点</label>
							        <div class="col-md-10">
							            <input type="text" class="form-control" name="activity_addr" placeholder="活动地点" value='' required minlength='5' maxlength='128' required>
							        </div>
							    </div>
							    <div class="form-group pt-5">
							        <label class="col-md-2 control-label">集合时间</label>
							        <div class="col-md-3 pr pr-30">
							            <input type="text" name="assemble_date" class="form-control date assemble-date" value="" readonly="" required>
							        </div>
							        <label class="col-md-3 control-label">报名截止时间</label>
							        <div class="col-md-3 pr pr-30">
							            <input type="text" name="stop_date" class="form-control date stop-date" value="" readonly="" required>
							        </div>
							    </div>
							    <div class="form-group pt-5">
							        <label class="col-md-2 control-label">集合地点</label>
							        <div class="col-md-10">
							            <input type="text" class="form-control" name="assemble_addr" placeholder="集合地点" value='{{journey_title}}' required minlength='5' maxlength='128'>
							        </div>
							    </div>
							    <div class="form-group pt-5">
							        <div class="col-md-12"><textarea id="modify_activity_editor"  name="activity_content" class="form-control" style="height: 260px"></textarea></div>
							    </div>
							
					    </div>
					    
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	                        <button type="submit" class="btn btn-danger">保存</button>
	                    </div>
                    </form>
                </div>
            </div>
        </div>


		<!-- 评论区 -->
		<div class="pt-20">
			<div class="f16 border-bottom bdc-ddd"><h4>共 18 条回复</h4></div>
			<ul class="list-group">
				<li class="list-group-item bdc-eee border-left-0 pl-0 border-right-0 f13">
					<img class="img-rounded avatar-45 pa" src="http://img0.zhixuan.com/newest_avatar_436e7296f75911e3b4cd00163e003240!65m65">
					<div class="pl-60">
						<div class=""><a href="#">随便玩玩</a><span class="co2 pl-5">(你是我的小呀小苹果，怎么爱你都嫌多!)</span></div>
						<div class="pt-10  line-height-25">谢谢李老师的文章……看得想哭了。觉得有什么东西梗在心里说不上来。翻武志红老师的博客，也有说法是「拖延是无法与当前在做的事建立联结」，也深以为然。许多事只是个要完成的任务，完成了我们仿佛就成了理想中的那个人，但这任务本身可厌可憎，我们不以它为乐，大概是这种感觉，很难过</div>
						<div class="pt-10">
							<span class="co2">2014-05-05 12:45:45</span>
							<span class="f12 pl-5">
								<a href="javascript:void(0);" class="co2 say-to" data-user_name="呵呵"><span class="fa fa-mail-forward pr-3"></span>回复</a>
							</span>
						</div>
					</div>
				</li>
				<li class="list-group-item bdc-eee border-left-0 pl-0 border-right-0 f13">
					<img class="img-rounded avatar-45 pa" src="http://img0.zhixuan.com/newest_avatar_436e7296f75911e3b4cd00163e003240!65m65">
					<div class="pl-60">
						<div class=""><a href="#">随便玩玩</a><span class="co2 pl-5">(你是我的小呀小苹果，怎么爱你都嫌多!)</span></div>
						<div class="pt-10  line-height-25">谢谢李老师的文章……看得想哭了。觉得有什么东西梗在心里说不上来。翻武志红老师的博客，也有说法是「拖延是无法与当前在做的事建立联结」，也深以为然。许多事只是个要完成的任务，完成了我们仿佛就成了理想中的那个人，但这任务本身可厌可憎，我们不以它为乐，大概是这种感觉，很难过</div>
						<div class="pt-10">
							<span class="co2">2014-05-05 12:45:45</span>
							<span class="f12 pl-5">
								<a href="javascript:void(0);" class="co2 say-to" data-user_name="嘿嘿"><span class="fa fa-mail-forward pr-3"></span>回复</a>
							</span>
						</div>
					</div>
				</li>
				<li class="list-group-item bdc-eee border-left-0 pl-0 border-right-0 f13">
					<img class="img-rounded avatar-45 pa" src="http://img0.zhixuan.com/newest_avatar_436e7296f75911e3b4cd00163e003240!65m65">
					<div class="pl-60">
						<div class=""><a href="#">随便玩玩</a><span class="co2 pl-5">(你是我的小呀小苹果，怎么爱你都嫌多!)</span></div>
						<div class="pt-10  line-height-25">谢谢李老师的文章……看得想哭了。觉得有什么东西梗在心里说不上来。翻武志红老师的博客，也有说法是「拖延是无法与当前在做的事建立联结」，也深以为然。许多事只是个要完成的任务，完成了我们仿佛就成了理想中的那个人，但这任务本身可厌可憎，我们不以它为乐，大概是这种感觉，很难过</div>
						<div class="pt-10">
							<span class="co2">2014-05-05 12:45:45</span>
							<span class="f12 pl-5">
								<a href="javascript:void(0);" class="co2 say-to" data-user_name="嘻嘻"><span class="fa fa-mail-forward pr-3"></span>回复</a>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- 回复文本框 -->
		<div class="answer-main">
			<form class="answer-form" role="form" method="post" action="/journey/create_answer/{{journey.id}}">
	            <div class="form-group mb-0">
	                <textarea id="answer_editor" name="answer_content" class="form-control" style="height: 200px;"></textarea>
	            </div>
	            <div class="form-group pull-right">
	                <button type="submit" class="btn btn-danger">提交你的回答</button>
	            </div>
	        </form>
		</div>
	</div>

	<!-- 报名人列表 -->
	<div class="tab-pane fade pt-15 in" id="person_list">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>头像</th>
					<th>用户</th>
					<th>人数</th>
					<th>报名日期</th>
					<th>真实姓名</th>
					<th>性别</th>
					<th>联系电话</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><img class="img-rounded" src="http://img0.zhixuan.com/newest_avatar_817c7c1a147611e486cf00163e003240!25m25"></td>
					<td>随便玩玩</td>
					<td>2</td>
					<td>2014-08-08 12:56</td>
					<td>习大大</td>
					<td>男</td>
					<td>13585958654</td>
				</tr>

				<tr>
					<td>1</td>
					<td><img class="img-rounded" src="http://img0.zhixuan.com/newest_avatar_817c7c1a147611e486cf00163e003240!25m25"></td>
					<td>随便玩玩</td>
					<td>2</td>
					<td>2014-08-08 12:56</td>
					<td colspan="3" class="bgc-eee">活动参与者才能查看</td>
				</tr>
			</tbody>
		</table>
	</div>


</div>
{% endblock %}