{% extends "activity/base_activity.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}活动{% endblock title %}

{% block left %}
<ul class="list-group">
	{% for activity in activitys %}
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<div class="row pl-5 pr-5">
			<div class="col-md-4">
				<a href="{{activity.get_url}}">
					<img class="w h155 pl-3 pr-3 pt-3 pb-3" src="{{activity.activity_cover}}" alt="{{activity.title}}">
				</a>
			</div>
			<div class="col-md-8 pr">
				{% if activity.sort_num > 0 %}
				<img src="/static/img/jinghua2.png" class="pa" style="right: 10px;">
				{% endif %}
				<div class="">
					<h4 class="mt-5">
						<a href="{{activity.get_url}}" class="fb">{{activity.title|str_display:24}}</a>
					</h4>
				</div>
				<div class="pt-0">活动发起人: <a href="{{activity.user.get_url}}">{{activity.user.nick}}</a></div>
				<div class="pt-5">活动时间: {{activity.start_date}} 到 {{activity.end_date}}</div>
				<div class="pt-5">活动地点: {{activity.assembly_point}}</div>
				<div class="pt-5">报名截止时间: {{activity.sign_up_end_date}}</div>
				<div class="pt-5">参加人数: {{activity.person_count}} 人</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% endblock left %}