{% extends "base/base.html" %}

{% block base_css %}
	{% block css %}{% endblock css %}
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){
	$('.create-activity').bind('click', function(){
		window.location.href = $(this).parent().attr('href');
	});
});
</script>
	{% block javascript %}{% endblock javascript %}
{% endblock %}

{% block container %}
<div class="col-md-8">
	{% block left %}{% endblock left %}
</div>

<div class="col-md-4 pl-70 pt-15">
	{% block right %}

	{% if request.user.is_staff %}
	<a href="/activity/create_activity">
		<button type="button" class="btn btn-danger btn-lg btn-block create-activity">+ 发 起 活 动</button>
	</a>
	{% endif %}
	{% endblock right %}
</div>
{% endblock container %}