{% extends "message/base_message.html" %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}系统消息{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	
});
</script>
{% endblock %}

{% block left %}
<ul class="list-group">
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="#">
			<img class="img-rounded avatar-35 pa" alt="随便玩玩" src="http://qimg0.qiniudn.com/newest_avatar_7c57fbba1e0311e4ae4e000c290d194c!65m65">
		</a>
		<div class="pl-45">
			<div>
				用户<a href="#" class="co5 pr-5 pl-5">嘿嘿</a>在评论游记<a href="#" class="co5 pr-5 pl-5">周末去旅行</a>中 @ 了你:
			</div>
			<div class="f12 pt-5">@随便 看这个，堪称完美的一次旅行啊!</div>
			<div class="co2 f12 pt-5">2014-08-07 15:22:55</div>
		</div>
	</li>
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="#">
			<img class="img-rounded avatar-35 pa" alt="随便玩玩" src="http://qimg0.qiniudn.com/newest_avatar_7c57fbba1e0311e4ae4e000c290d194c!65m65">
		</a>
		<div class="pl-45">
			<div>
				用户<a href="#" class="co5 pr-5 pl-5">嘿嘿</a>在评论游记<a href="#" class="co5 pr-5 pl-5">周末去旅行</a>中 @ 了你:
			</div>
			<div class="f12 pt-5">@随便 看这个，堪称完美的一次旅行啊!</div>
			<div class="co2 f12 pt-5">2014-08-07 15:22:55</div>
		</div>
	</li>
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="#">
			<img class="img-rounded avatar-35 pa" alt="随便玩玩" src="http://qimg0.qiniudn.com/newest_avatar_7c57fbba1e0311e4ae4e000c290d194c!65m65">
		</a>
		<div class="pl-45">
			<div>
				用户<a href="#" class="co5 pr-5 pl-5">嘿嘿</a>在评论游记<a href="#" class="co5 pr-5 pl-5">周末去旅行</a>中 @ 了你:
			</div>
			<div class="f12 pt-5">@随便 看这个，堪称完美的一次旅行啊!</div>
			<div class="co2 f12 pt-5">2014-08-07 15:22:55</div>
		</div>
	</li>
</ul>
{% endblock left %}
